version: '3.8'

services:
  signal-cli:
    build:
      context: .
      dockerfile: signal.Dockerfile
      args:
        SIGNAL_CLI_VERSION: ${SIGNAL_CLI_VERSION}
    container_name: signal-cli
    platform: linux/arm64/v8
    environment:
        DEVICE_NAME: ${DEVICE_NAME:-pi5}
        MODE: ${MODE:-daemon}
        SIGNAL_CLI_VERSION: ${SIGNAL_CLI_VERSION}
    volumes:
      - signal-data:/var/lib/signal-cli
    networks:
      - signal
    restart: "no"  # Don't restart automatically during linking
    ports:
      - "8086:8080"
    stdin_open: true  # Enable interactive mode for linking
    tty: true         # Allocate a pseudo-TTY

volumes:
  signal-data:
    external: true

networks:
  signal:
    external: true
